OLLAMA_BASE_URL=http://127.0.0.1:11434
OLLAMA_MODEL=gurubot/self-after-dark:8b-q4_K_M

X_BEARER_TOKEN=
X_API_KEY=
X_API_KEY_SECRET=
X_ACCESS_TOKEN=
X_ACCESS_TOKEN_SECRET=

VENUM_DRY_RUN=true
VENUM_X_BUDGET_ENABLED=true
VENUM_X_DAILY_READ_BUDGET=80
VENUM_X_DAILY_WRITE_BUDGET=5
VENUM_X_DAILY_FOLLOW_BUDGET=5
